@model VmService
@{
    ViewData["Title"] = "Details";
}

@if (Model.pageHeader != null)
{
    <section class="hero-banner">
        <picture>
            <source srcset="~/Uploads/Images/PageHeader/@Model.pageHeader.Image" media="(min-width: 992px)">
            <img class="bg-img"
                 src="~/Uploads/Images/PageHeader/@Model.pageHeader.Image" alt="img">
        </picture>
        <div class="hero-layout"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="align-container">
                        <div class="align-container-item">
                            <span class="hero-overlay">@Model.pageHeader.Subtitle</span>
                            <h1 class="hero-title">@Model.pageHeader.Title</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <div class="banner-area-wrapper">
        <div class="container">
            <div class="row">
                <h3 class="alert alert-danger text-center">Page Header Elave Edin</h3>
            </div>
        </div>
    </div>
}

<section id="service-details" class="section-style-two">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-9">
                <img class="service-details-img" src="~/Uploads/Images/Services/@Model.Service.Image" alt="img">
                <h4 class="service-details-title">@Model.Service.Title</h4>
                <p>@Html.Raw(Model.Service.Content)</p>
                <div class="row mb-5 mt-5">

                    @if (Model.Service.IndustriesServedToServices.Count != 0)
                    {
                        <div class="col-sm-6 col-md-5 col-xl-4">
                            <h5 class="served-subtitle ">Industries served</h5>

                            <ul class="list list-check">
                                @foreach (var item in Model.IndustriesServeds)
                                {
                                    @foreach (var item2 in item.IndustriesServedToServices)
                                    {
                                        <li class="list-item"><i class="fas fa-check"></i> @item2.IndustriesServed.Name</li>
                                        break;
                                    }
                                }

                            </ul>
                        </div>
                    }

                    @if (Model.Service.ServiceOfferedToServices.Count != 0)
                    {
                        <div class="col-sm-6 col-md-5 col-xl-4 mt-5 mt-sm-0 ">
                            <h5 class="served-subtitle ">Services offered</h5>
                            <ul class="list list-check ">
                                @foreach (var item in Model.ServiceOffereds)
                                {
                                    @foreach (var item2 in item.ServiceOfferedToServices)
                                    {
                                        <li class="list-item"><i class="fas fa-check"></i>@item2.ServiceOffered.Name</li>
                                        break;
                                    }
                                }
                            </ul>
                        </div>
                    }


                </div>


                @if (Model.Service.BenefitsToServices.Count != 0)
                {
                    <div class="col-12 mt-5">
                        <h5 class="service-details-subtitle ">Benefits</h5>
                    </div>
                    <div class="row mt-3">
                        @foreach (var item in Model.Benefits)
                        {
                            @foreach (var item2 in item.BenefitsToServices)
                            {
                                <div class="col-sm-6 col-xl-4">
                                    <div class="card-benefits">
                                        <svg class="icon">
                                            <use xlink:href="@item2.Benefit.Icon"></use>
                                        </svg>
                                        <h6 class="benefits-title">@item2.Benefit.Title</h6>
                                    </div>
                                </div>
                                break;  
                            }
                        }
                    </div>
                }

            </div>
            <div class="col-lg-4 col-xl-3 mt-5 mt-lg-0">
                <div class="row">

                    <div class="col-md-6 col-lg-12 mb-5">
                        <h5 class="service-details-subtitle">Main services</h5>
                        <ul class="servdet-list ">
                            @foreach (var category in Model.Categories)
                            {
                                @if (category.Services.Count != 0)
                                {
                                    <li class="servdet-list-item @(ViewBag.categoryId == category.Id?"item-active":"")">
                                        <a class=" servdet-list-link"
                                           asp-controller="service" asp-action="Index" asp-route-id="@category.Id"><span>@category.Name</span></a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                    @if (Model.Services.Count > 1)
                    {
                        <div class="col-md-6 col-lg-12 mb-5">
                            <h5 class="service-details-subtitle">Other services</h5>
                            @{ var i = 1;
                               var j = 0;}
                            @foreach (var item in Model.OtherServices)
                            {
                                @if (item.Id==Model.Service.Id)
                                {

                                }
                                else
                                {
                                    <a class="other-service" asp-controller="service" asp-action="details" asp-route-id="@item.Id"> <img class="bg-img" src="~/Uploads/Images/Services/@item.Image" alt="img">
                                <h6 class="other-service-title">@item.Title</h6>
                                        <span class="other-service-count"> 
                                            @if (i <10)
                                            {
                                                j = 0; @j @i
                                            }
                                            else
                                            {
                                                @i
                                            }
                                        </span>
                                </a>
                                i++;
                                }
                                
                            }
                        </div>
                    }
                    <div class="col-md-6 col-lg-12">
                        <div class="contact-card-blue contact-blue-style ">
                            <img class="contact-card-blue-img" src="~/img/contact_background.png"
                                 alt="img">
                            <h4 class="contact-card-blue-title">How we can help you!</h4>
                            <p class="contact-card-blue-text">
                                Ronquil coho salmon red snapper duckbill
                                lungfish southern angelfish
                            </p>
                            <a class="button button-white mt-3"
                               asp-controller="contact" asp-action="index">
                                <span>Contact us</span>
                                <svg class="icon">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@await Component.InvokeAsync("Testimonial");
@await Component.InvokeAsync("Partners");