@model Service
@{
    ViewData["Title"] = "Update";
}


<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <form asp-area="admin" asp-controller="service" asp-action="update" method="post" id="basic-form" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input class="form-control" id="title" asp-for="Title">
                        <span id="messages" asp-validation-for="Title" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="Content">Content</label>
                        <textarea class="form-control" id="Content" asp-for="Content" rows="6"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="categoryId">Category</label>
                        <select id="categoryId" class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="ServiceOfferedIds">Service Offereds</label>
                        <select id="ServiceOfferedIds" class="form-control multi-select" multiple asp-for="ServiceOfferedIds" asp-items="@(new SelectList(ViewBag.ServiceOffereds, "Id", "Name"))">
                        </select>
                        <span asp-validation-for="ServiceOfferedIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="IndustriesServedIds">Industries Serveds</label>
                        <select id="IndustriesServedIds" class="form-control multi-select" multiple asp-for="IndustriesServedIds" asp-items="@(new SelectList(ViewBag.IndustriesServeds, "Id", "Name"))">
                        </select>
                        <span asp-validation-for="IndustriesServedIds" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="BenefitIds">Benefits</label>
                        <select id="BenefitIds" class="form-control multi-select" multiple asp-for="BenefitIds" asp-items="@(new SelectList(ViewBag.Benefits, "Id", "Title"))">
                        </select>
                        <span asp-validation-for="BenefitIds" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label for="title">Price Per Km</label>
                        <input class="form-control" id="title" asp-for="PricePerKm">
                        <span id="messages" asp-validation-for="PricePerKm" class="text-danger"></span>
                    </div>

                    <div class="input-file">
                        <img id="file_upload" src="~/Uploads/Images/Services/@Model.Image" alt="your image" class="upload-img" />
                        <div class="input-file-upload">
                            <span class="upload-label">Upload Image</span>
                            <input type='file' onchange="readURL(this);" asp-for="@Model.ImageFile" />
                        </div>
                    </div>

                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="Image" value="@Model.Image" />

                    <button type="submit" id="submitbtn" class="btn btn-primary">Update</button>
                    <button asp-action="index" class="btn btn-danger">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>